<div class="rows-layout layout">

  <header role="banner">
    <div class="content">

      <div class="logo-container" id="drop-target-logo">
        <!-- logo widget goes here -->
      </div> <!-- / .logo-container -->


      <div class="navigation-container collapsable">

        <div class="collapsable-content collapse" id="drop-target-nav">
          <!-- nav widgets go here -->
        </div> <!-- / .collapsable-content -->

        <div class="buttons">
          <span id="drop-target-btn">
            <!-- button widget goes here -->
          </span>

          <a class="collapsable-btn btn" data-target=".collapsable-content"
            data-toggle="collapse"><span class="text">Menu</span><span class=
            "bars"><span></span><span></span><span></span></span></a>
        </div> <!-- / .buttons -->
      </div> <!-- / .navigation-container -->

    </div> <!-- / .content -->
  </header>


  <!-- WIDGETS HERE PERSIST ACROSS PAGES -->
  <div id="drop-target-aside-before-main">
  </div>

  <!-- WIDGETS HERE ARE PAGE-SPECIFIC -->
  <section role="main" id="drop-target-main">
  </section>

  <!-- WIDGETS HERE PERSIST ACROSS PAGES -->
  <aside id="drop-target-aside-after-main">
  </aside>

  <!-- WIDGETS HERE PERSIST ACROSS PAGES -->
  <footer role="contentinfo">
    <div id="drop-target-footer" class="content"></div>
  </footer>
</div>
